<div class="drag-the-boxes">
  <div class="title">Drag the boxes</div>
  <div class="container-list">
    <div class="container" *ngFor="let container of containerList; index as i" #container>
      <p class="title">Container {{ i + 1 }}</p>
      <div class="box" *ngFor="let box of container" [ngStyle]="{ background: box }" (mousedown)="handleMouseDown()"
        (mousemove)="handleMouseMove($event)" (mouseup)="handleMouseUp($event, box)" (touchstart)="handleTouchStart()"
        (touchmove)="handleTouchMove($event)" (touchend)="handleTouchEnd($event, box)">
      </div>
    </div>
  </div>
</div>